.rodape {
    display: flex;
    justify-content: center;
    background-color: var(--negro);
    color: var(--blanco);
    margin-top: 2em ;
}

.rodape h2 {
    font-weight: 400;
    font-size: 18px;
    color: var(--branco);
}